  <!-- 
    <div class="grid-container" style="position: absolute; top: 5%; right: 15%; width: 40%; background-color: {{ color }};">
        <h2>Map: {{ map_id }}</h2>
        <table class="grid-table">

            <tr>
                {% for row in grid %}
                    <tr>
                        {% for cell, rotation in row %}

                            {% if cell %}

                                <td class="grid-cell">
                                <!--img src="{% static 'maps/images/car_topview.svg' %}" alt="SVG Image" style="width: 100%; height: 100%;"-->
                                <img src="{% static cell %}" alt="SVG Image" style="width: 100%; height: 100%; transform: rotate({{ rotation }}deg);">
                                </td>

                            {% else %}

                                <td class="grid-cell">cell</td>

                            {% endif %}

                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            
        </table>
    </div>
    -->